*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background: fixed; 
}

body{
    font-family: 'Dosis', sans-serif;
}

.music-app{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header {
    margin: 100px 0px 30px 0px;
    text-align: center;
    font-size: 30px;
}
header h5 {
    font-size: 10px;
}

header p {
    font-size: 15px;
}

.visuals{
    text-align: center;
    margin-bottom: 100px;
}

 .pads {
     background-color: lightsalmon;
     width: 100%;
     display: flex;
 }

 .pads > div {
    height: 100px;
    width: 100px;
    flex: 1;
}

#pad1 {
    background:lightcoral;
 }
 #pad2 {
    background: lightsalmon;
}
#pad3 {
    background:rgba(255, 255, 43, 0.541);
}
#pad4 {
    background:lightseagreen;
}
#pad5 {
    background:cadetblue;
}
#pad6 {
    background:mediumpurple;
}
#pad7 {
    background:black;
}
#pad8 {
    background:grey;
}

.save-container{
    margin-bottom: 50px;
    width: 200px;
    background-color: rgba(255,255,255, 0.7);
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px 2px;
    font-size: medium;
    height: 100px;
    background-color: lightsalmon;
}
.saving{
    background-color: white;
    text-align: center;
    height: 30px;
    width: 30px;
    flex: 1;
}
.loading{
    background-color: burlywood;
    text-align: center;
    height: 30px;
    width: 30px;
    flex: 1;
    
}

.dot1 {
    margin-right: 50px;
    height: 25px;
    width: 25px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block;

  }

  .dot2 {
    height: 25px;
    width: 25px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
  }